body {
  margin-left: 100px;
  margin-right: 100px;
  font-family: sans-serif;
}
.banner {
  background-color: #2c9ab7;
  height: 260px;
  position: relative;
}

.banner-header {
  font-size: 45px;
  color: white;
  width: 360px;
  padding-top: 65px;
  padding-left: 200px;
  margin-bottom: 10px;
  margin-top: 0;
}

.banner-slogan {
  font-size: 28px;
  color: white;
  width: 360px;
  padding-left: 200px;
  margin: 0;
}

.menu {
  background-color: #ebebeb;
  height: 60px;
  padding-left: 200px;
  display: flex;
}

.menu-list {
  list-style: none;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  margin-top: 25px;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 1.5;
}

.article {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.article-1-heading {
  color: #239ab9;
}

.blue-text {
  color: #5bbed7;
}

.quote {
  font-size: 20px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.side-bar-1 {
}

.side-bar-link {
  text-decoration: none;
}

footer {
  background-color: #3a3a3a;
  height: 200px;
  text-align: center;
  font-size: 10px;
  color: white;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-logo {
  width: 230px;
  margin-bottom: 20px;
}
.footer-text {
  line-height: 2;
  margin-bottom: 20px;
}

.footer-list {
  width: 350px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
}
.footer-link {
  text-decoration: none;
  color: white;
}

.copyright {
  width: 230px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
