body {
  margin-left: 100px;
  margin-right: 100px;
  font-family: sans-serif;
}
.banner {
  background-image: url(banner.jpg);
  height: 260px;
  position: relative;
}

.banner-header {
  font-size: 55px;
  color: white;
  padding-top: 65px;
  padding-left: 200px;
  margin-bottom: 10px;
  margin-top: 0;
}

.banner-slogan {
  font-size: 28px;
  color: white;
  width: 360px;
  padding-left: 200px;
  margin: 0;
}

.menu {
  background-color: #ebebeb;
  height: 60px;
  padding-left: 200px;
  display: flex;
}

.menu-list {
  list-style: none;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  margin: 25px 0 50px;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 1.6;
  font-size: 14px;
}

.article {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.article-1-heading {
  font-size: 18px;
}

.blue-text {
  color: #239ab9;
}

.quote {
  font-size: 21px;
  color: #5bbed7;
  margin-top: 50px;
  margin-bottom: 50px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.side-bar-heading {
  margin: 10px 0px 5px;
}
.side-bar-1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.side-bar-2 {
  margin-bottom: 40px;
}

.side-bar-paragraph-2 {
  margin-top: 25px;
}

.side-bar-link {
  text-decoration: none;
}

.cat-of-the-week-photo {
  width: 225px;
  margin-top: 10px;
}

footer {
  background-image: url(footer.jpg);
  height: 200px;
  text-align: center;
  font-size: 10px;
  color: white;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-logo {
  width: 230px;
  margin-bottom: 20px;
}
.footer-text {
  line-height: 2;
  margin-bottom: 20px;
}

.footer-list {
  width: 350px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
}
.footer-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.copyright {
  width: 230px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
