html {
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.skip-nav-link {
  background: white;
  color: black;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  left: 42vw;
  transform: translateY(-120%);
  transition: transform 300ms ease-in;
}

.skip-nav-link:focus-within {
  transform: translateY(0%);
}

header {
  width: 100%;
  height: 300px;

  background: linear-gradient(to bottom, #0000b0, #9611b1);
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center right;
}

header h1 {
  font-size: 4rem;
  color: white;
  padding: 3rem 0 0 5rem;
  margin: 0;
}

header p {
  font-size: 30px;
  font-style: italic;
  color: white;
  padding: 0 0 0 5rem;
}

nav ul {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 1.5rem;
}

nav ul li a {
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  color: #0000b0;
  text-decoration: underline;
}

main {
  display: flex;
  margin: 25px 0 50px;
  padding-left: 120px;
  padding-right: 120px;
  line-height: 1.6;
  font-size: 17px;
}

main section {
  flex: 70%;
}

main aside {
  flex: 30%;
}

main section article {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

main aside article {
  margin-bottom: 30px;
}

.blue {
  color: #0000b0;
}

blockquote {
  font-size: 21px;
  color: #9611b1;
  margin: 50px 50px 50px 0;
}

aside h2 {
  margin: 10px 0px 5px;
}

aside article {
  margin: 10px 20px 20px 0;
}

.side-bar-link {
  text-decoration: none;
}

.side-bar-link:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(to bottom, #9611b1, #0000b0);
  background-repeat: tile;
  background-image: url(footer.jpg);
  background-size: cover;
  background-position: center center;

  text-align: center;
  font-size: 10px;
  color: white;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-logo {
  margin-bottom: 20px;
}

footer p {
  line-height: 2;
  margin-bottom: 20px;
  font-size: 14px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  font-size: 15px;
}

footer ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

footer ul li a:hover {
  text-decoration: underline;
}

.copyright {
  gap: 1rem;
  font-size: 14px;
}

@media (max-width: 1000px) {
  header {
    width: 100%;
    height: 280px;
  }

  main {
    display: flex;
    margin: 25px 0 50px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.6;
    font-size: 15px;
  }

  main section article {
    margin: 0 50px 0 20px;
  }

  blockquote {
    text-align: center;
    margin: 20px 50px 20px 10px;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 665px) {
  nav ul li a {
    font-size: 14px;
    font-weight: bold;
  }

  header h1 {
    font-size: 8vw;
  }

  header p {
    font-size: 5vw;
    font-style: italic;
    color: white;
  }
}

@media (max-width: 576px) {
  header {
    width: 100%;
    height: 250px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    font-size: 16px;
  }

  main {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  aside {
    padding: 1rem;
  }

  .footer-link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  blockquote {
    margin: 20px;
  }

  footer {
    padding: 2rem 1rem;
  }
}

@media (max-width: 576px) {
  header {
    width: 100%;
    height: 200px;
  }

  header h1 {
    font-size: 2rem;

    padding: 3rem 0 0 2rem;
    margin: 0;
  }

  header p {
    font-size: 20px;
    padding: 0 0 0 2rem;
  }
}

@media (max-width: 300px) {
  header {
    width: 100%;
    height: 200px;
  }

  header h1 {
    font-size: 1.5rem;

    padding: 3rem 0 0 2rem;
    margin: 0;
  }

  header p {
    font-size: 15px;
    padding: 0 0 0 2rem;
  }
}
